<div id="payment_selection" class="payment_selection">
  <h3 class="title">Pay With</h3>

    <div class="pay-buttons">
      <button  class=" btn-large btn btn-primary" type="button">
          <span class="wallet_logo">
          <%= image_tag("/assets/wallet.png") %>
        </span>
        My Wallet
      </button>
      <span  class="pay-form-wrap">
         <%= render partial: 'web_pay',locals: {interswitch:interswitch} %>
        </span>
      <%= link_to "Cancel",order_path(@order), method: 'delete',class:"btn cancel btn-large",
              data: {confirm: "Are you sure"} %>
    </div>
 </div>

