<% content_for :navigation do %>
    <%= currently_at 'Add New Airtime' %>
    </div>
<% end %>
<div class="page-header">
  <h1>Airtime<small></small></h1>
</div>
<div class="row-fluid">

  <div class="span12">
    <div class="head clearfix">
      <h1>
        <i class="icon-credit-card"></i> Add New Recharge Card</h1>
    </div>
    <%= render 'form' %>
  </div>

</div>
<%= link_to 'Back', airtimes_path,class:"btn btn-large" %>
