<% content_for :navigation do %>
    <%= currently_at 'Add New Airtime' %>
    </div>
<% end %>
<div class="page-header">
  <h1>Airtime<small> recharge</small></h1>
</div>
<div class="row-fluid">

  <div class="span12">
    <div class="head clearfix">
      <div class="isw-documents"></div>
      <h1>Add New Recharge Card</h1>
    </div>
    <%= render 'form' %>
  </div>

</div>
<%= link_to 'Back', airtimes_path %>
