<% content_for :navigation do %>
    <%= currently_at 'Alerts' %>
    </div>
<% end %>
<div class="page-header">
  <h1>Alerts <small>All Credit purchased and bulk credit alert here</small></h1>
</div>

<div class="row-fluid">
    <div class="tab-host clearfix">
      <ul class="nav nav-tabs">
         <li class="active"><a>
           <i class="icon-envelope"></i> All
           <div class="tape"></div>
         </a></li>
        <li class=""><a><i class="icon-envelope"></i> Airtime
          <div class="tape"></div>
        </a></li>
        <li class=""><a><i class="icon-envelope"></i> Wallet
          <div class="tape"></div>
        </a></li>
      </ul>
    </div>
    <div class="block messages">
    <% @messages.each do |message| %>

      <%= message_for_order(message) %>
    <% end %>
    </div>
</div>
