<ul class="rows letter_pressed">
  <li>
    <div class="title">Transaction fee:</div>
    <div class="text"><%= @order.transaction_fee %></div>
  </li>
  <li>
    <div class="title">Total amount:</div>
    <div class="text"><%= number_to_currency @order.total_amount, unit: "₦" , precision: 0%></div>
  </li>
 </ul>
<div id="payment_selection" class="payment_selection">
  <h3 class="title">Pay With</h3>

  <div class="pay-buttons">
    <button  class=" btn-large btn btn-warning" type="button">
        <span class="interswitch_logo">
          <%= image_tag("/assets/PoweredByInterswitchLogoAndVerve.png") %>
        </span>
    </button>
    <%= link_to "Cancel",order_path(@order), method: 'delete',class:"btn cancel btn-large",
            data: {confirm: "Are you sure"} %>
        </div>
 </div>