body{
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  background: url(noise2.png) 50% 50% repeat;
  font-size: 12px;
}
.drop{
  background:#19b3d3 url(noise-bg.png) 50% 50% repeat;
  background-image: -webkit-linear-gradient(top, #19b3d3, #16b7d9);
  background-image: -moz-linear-gradient(top, #19b3d3, #16b7d9);
  background-image: -o-linear-gradient(top, #19b3d3, #16b7d9);
  background-image: linear-gradient(to bottom, #19b3d3, #16b7d9);
  width: 100%;
  height:50%;
  margin: 0;
  position: fixed;
}
.container{
   position: relative;
}
#content{
  z-index: 5555;
  position: relative;
  h1,h2{
      font-family: 'FVAlmeloRegular', "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  h1 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.4);
    padding-top: 75px;
    line-height: 35px;

  }
  h2 {
    color: #142F58;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  }
}
.content{
  .items{
    list-style: none;
    margin: -20px 0 0;
    border: 1px solid #D4D4D4;
    border-top: none;
    border-bottom: none;
    > li {
      border-width: 0;
      border-top-width: 1px;
      a{
        color: #222;
      }
      .split{
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-decoration: none;
        .ui-basic-info{
          padding: 0 20px;
        }
      }
    }
  }
  .workplace{
    .head{
      background:#19b3d3 url(noise-bg.png) 50% 50% repeat;
      background-image: -webkit-linear-gradient(top, #19b3d3, #16b7d9);
      background-image: -moz-linear-gradient(top, #19b3d3, #16b7d9);
      background-image: -o-linear-gradient(top, #19b3d3, #16b7d9);
      background-image: linear-gradient(to bottom, #19b3d3, #16b7d9);
      -webkit-box-shadow: 0 1px whitesmoke;
      -moz-box-shadow: 0 1px whitesmoke;
      border-radius: 3px 3px 0 0;
      box-shadow: 0 1px whitesmoke;
      border:1px solid #18a2c1;
      h1{
        font-family: 'FVAlmeloRegular', "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: bold;
        text-shadow: 0px -1px 1px rgba(0,0,0,0.4);
        color: white;
        text-align:left;
        line-height: 30px;
      }
    }
  }
}
.content .workplace .head,.head,.tab-host{
  background-color:#19b3d3;
  background-image: -webkit-linear-gradient(top, #19b3d3, #16b7d9);
  background-image: -moz-linear-gradient(top, #19b3d3, #16b7d9);
  background-image: -o-linear-gradient(top, #19b3d3, #16b7d9);
  background-image: linear-gradient(to bottom, #19b3d3, #16b7d9);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  border:1px solid #18a2c1;
    h1{
       font-family: 'FVAlmeloRegular', "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
       font-weight: bold;
       text-shadow: 0px -1px 1px rgba(0,0,0,0.4);
       color: white;
       text-align:left;
       line-height: 20px;
       font-size: 12px;
       padding:10px;
       margin: 0;
   }
}
.header{
  overflow: hidden;
  .logo {
    display: block;
    float: left;
    height: 100%;
    padding: 0;
    img{
      max-height: 100%;
    }
  }
}
.aside{
  padding: 20px;
  .call{
    font-family: 'FVAlmeloRegular', "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
    min-height: 261px;
    .lead{
      color: #fff;
      font-size: 50px;
      line-height: 50px;
      text-transform: uppercase;
      text-align: center;
      text-shadow: 0px -1px 1px rgba(0,0,0,0.4);
      padding-top: 75px;
      line-height: 35px;
    }
    .sub{
      color: #142F58;
      font-size: 27px;
      line-height: 30px;
      font-weight: bold;
      text-align: center;
      text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    }
    p{
      font-size: 16px;
    }
  }
  .downl{
    ul{
      margin-top: 50px;
      list-style: none;
      li{
        margin:10px;
        min-height: 40px;
        float: left;
        line-height: 50px;
        width: 120px;
        a{
          display: block;
          .ui-text{
            display: block;
          }
        }
      }
    }
  }
}

.platform-icon{
  background:url(platforms.svg);
  display: inline-block;
  height: 54px;
  width: 37px;
}
.platform-icon.android {
  background-position: -50px 0;
  width: 46px;
}
.platform-icon.blackberry{
  background-position: -150px 0;
}

.platform-icon.ios{
  width: 44px;
}
.platform-icon.windows{
  background-position: -100px 0;
}
.platform-icon.ovi{
  background:url(ovi.png)  no-repeat 50% 50%;
  background-size: 100% 100%;
  width:50px;
  height:54px;
}
.btn{
  font-family:  "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;

  font-size: 12px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn.btn-large{
  font-size: 16px;
}
#link{
  margin-top: 20px;
  a{
      font-family: 'FVAlmeloRegular', "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
}

.form-horizontal{
  padding: 10px;
}
.form-actions{
  background-color: transparent;
}
a.thumbnail{
  &:hover{
    text-decoration: none;
  }
}

.row-fluid [class*="span"].ui-mason-grid-item{
     margin:0 0 10px;
}
.sign-login{
  overflow: hidden;
  padding: 5px;
}
.publication_meta em{
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif ;
}
.publication_meta strong{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
}
.publication_meta,.meta{
  color:#898989;
}

 .ui-title {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
   text-shadow:0 1px 0 white;
   line-height: 16px;
}
.nav-list,.dropdown-menu,.custom-select-menu {
  li,.hover-focus{
     a{
       color: #333;
       border: 1px solid transparent;
       text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
       &:hover{
         color: #333;
         text-decoration: none;
         background-image: -webkit-gradient(linear,left top,left bottom,from(#EEE),to(#dedede));
         background-image: -webkit-linear-gradient(#EEE,#dedede);
         background-image: -moz-linear-gradient(#EEE,#dedede);
         background-image: -ms-linear-gradient(#EEE,#dedede);
         background-image: -o-linear-gradient(#EEE,#dedede);
         background-image: linear-gradient(#EEE,#dedede);
         border-color:#ccc;
       }
     }
  }
  .divider{
    margin: 9px -15px;
  }
  > .active,.selected {
        a,a:hover{
          border: 1px solid #000;
          background: #333;
          font-weight: bold;
          color: white !important;
          text-shadow: 0 -1px 0 black;
          background-image: -webkit-gradient(linear,left top,left bottom,from(#444),to(#2D2D2D));
          background-image: -webkit-linear-gradient(#444,#2D2D2D);
          background-image: -moz-linear-gradient(#444,#2D2D2D);
          background-image: -ms-linear-gradient(#444,#2D2D2D);
          background-image: -o-linear-gradient(#444,#2D2D2D);
          background-image: linear-gradient(#444,#2D2D2D);
        }
  }
}

.dropdown-menu{
  li{
    a{
      border-left-width:0;
      border-right-width:0;
    }
  }
}

.page{
  overflow: hidden;
  margin:0px;
  padding:  5px;
  list-style: none;
  text-align: center;
  li.previous{
    float: left;
  }
  li.next{
    float:right
  }
  li a{
  }
}
.top_rounded.ui-body-c,.top_rounded{
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
   border-bottom-width: 0;
}
.bottom_rounded.ui-body-c,.bottom_rounded{
  -webkit-border-radius:  0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.pull_up{
  margin: -20px 0 0;
}
.ui-body{
    .page-header{
      padding: 0 20px ;
    }
}

.ui-li-thumb{
  float: left;
  margin:0 10px 1px 1px;
  max-height:100px;
  max-width:100px;
}
.ui-content{
  padding: 10px;
}
.actions{
  margin-bottom: 10px;
}
input[type="file"]{
  width: 210px;
  padding: 0px 12px 0px 0;
}
.control-group.error input[type="file"]{
  border:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow: none;
}
/*!
* Datepicker for Bootstrap
*
* Copyright 2012 Stefan Petre
* Licensed under the Apache License v2.0
* http://www.apache.org/licenses/LICENSE-2.0
*
*/
.datepicker {
  top: 0;
  left: 0;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
/*.dow {
border-top: 1px solid #ddd !important;
}*/
}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;

  padding: 4px;
  box-sizing: content-box;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td, .datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.old, .datepicker td.new {
  color: #999999;
}
.datepicker td.active, .datepicker td.active:hover {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  background-color: #0044cc;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399;
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  background-color: #0044cc;
}
.datepicker td span.active:active, .datepicker td span.active.active {
  background-color: #003399;
}
.datepicker td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i, .input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.actions{
  margin-bottom:20px;
}
.heading{
  font-size:20px;
  text-transform: uppercase;
  line-height:20px;
  color: #555;
  text-align: center;
}
.thumbnail{
  background-color: #fff;
  &:hover{
  .publication_meta{
    color: #555;
  }
  }
}
.caption{
  h3{

  }
  p.publication_meta{
    font-size: 12px;
  }
}
.sign_up{
  margin: 0 7px;
}
.join{
  margin:10px 0;
}
.custom-select-menu{
  width:200px;
  cursor: pointer;
  margin: 17px 0 0;
  padding: 5px;
  overflow-y: scroll;
  max-height: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  list-style: none;
  background-color: white;
  border: 1px solid #CCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.custom-select-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.custom-select-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.caret_down,.caret_up{
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  content: "";
}
.dropdown .caret_up,.dropdown .caret_down,.custom-select-button-icon{
  margin-top: 6px;
  margin-left: 2px;
}
.caret_down,.custom-select-button-icon{
  border-top: 5px solid black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: none;
}
.caret_up,.custom-select.custom-select-open .custom-select-button-icon{
  border-top:none;
  border-bottom: 5px solid black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.custom-select {
  height:18px;
  line-height:18px;
  padding:4px;
  display: block;
  text-decoration:none;
  text-align:left;
  cursor:pointer;
  position:relative;
  background-color: white;
  border: 1px solid #bbb;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  width:216px ;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.custom-select-roletext { position: absolute; left: -99999px; }
.custom-select:focus,.custom-select-open
{
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.custom-select:hover .custom-select-button-icon{
  border-top-color:#C21A1A;
}
.custom-select.custom-select-open .custom-select-button-icon{
  border-bottom-color:#C21A1A;
}
.custom-select-button-icon{
  float:right;
}

.custom-select  .custom-select-status{
  float: left;
  color: #333;
}
.custom-select-wrapper{
  position:relative;
}
.custom-select-menu.drop_menu_box{
  display: block;
  top:105%;
}
.custom-select-menu-hidden { display:none; }

.custom-select-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
  clear: both;
}
.custom-select-menu li a {
  outline: 0;
  text-decoration:none;
  display:block;
  cursor:pointer;
  padding:3px 15px ;
}

.custom-select-menu li.selected a {
  color:#333;
  text-shadow:none;
  border: none  !important;
}
.select-hidden {
  display: none   !important;
}
.preview{
  height:500px;
  overflow: scroll;
  .thumbnails{
    list-style: none;
    li{
      position: relative;
      margin: 19px 0;
      float: none !important;
      &:first-child{
        margin-top: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
      .thumbnail{
       padding: 34px 0 0;
      }
      .remove{
        position:absolute;
        top:5px;
        right:5px;
      }
    }
  }
}
.boxed{
  background-color: #F8F7EC;
  border:1px solid #dedede;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
  -webkit-box-shadow:0px 0px 1px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
  min-height: 100px;
  margin-bottom: 20px;
  .inner{
    padding: 20px;
    border:5px solid #fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:100%;
    .nav-tabs{
      margin: -20px -20px 0;
      border-bottom: none;
      li{
        a{
          color:#333;
          text-shadow: 0 1px 0 #fff;
          &:hover{
            color:#333;
            background-color: #efeee3;
          }
        }
      }
    .active{
      a{
       background-color: #F8F7EC;
        &:hover{
        color:#333;
        background-color: #F8F7EC;
        }
      }
    }
    }
  }
}
#formwrap{
  margin-top: 190px;
  margin-bottom: 20px;
}
.btn-wrap{
  text-align: right;
}
.register.login{
  width:380px;
}
.login{
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 340px;
  background: white;
  border-radius: 3px;
  -moz-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  &:before{
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
  }
  .login p {
    margin: 20px 0 0;
    &:first-child{
      margin-top: 0;
    }
  }
  .header-a{
      margin: -20px -20px 21px;
    h1{
      margin:0;
    }
  }
  label{
    color:#606060;
  }
  .input-wrap {
    padding:5px;
    background-color: #eff4f7;
  }
  input[type=text],input[type=password],input[type=tel],input[type=email]{
    width: 100%;
    box-sizing: border-box;
  }
  p.submit {
    text-align: right;
  }
  .form-actions{
    margin:0 0 10px;
    border:none;
    padding: 0;
  }

  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0;
  }
  input[type=text], input[type=password],input[type=tel],input[type=email]{
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  }

  textarea {
    margin: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
    -moz-outline-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);

  }
}


.login-help {
  margin: 20px 0;
  font-size: 11px;
  font-weight: bold;
  color: rgb(20, 47, 88);
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  text-align: center;
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}


.header-a{
   color: white;
  text-shadow: 0px -1px 1px rgba(0,0,0,0.4);
  line-height: 40px;
  text-align:left;
  padding: 10px;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, #19b3d3, #16b7d9);
  background-image: -moz-linear-gradient(top, #19b3d3, #16b7d9);
  background-image: -o-linear-gradient(top, #19b3d3, #16b7d9);
  background-image: linear-gradient(to bottom, #19b3d3, #16b7d9);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
  h1{
    font-family: 'FVAlmeloRegular', "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 27px;
    font-weight: bold;
  }
}
.footer-a{
  line-height: 40px;
  padding: 10px;
  background: #f3f3f3;
  border-radius: 0 0 3px 3px;
  margin: -20px -20px -20px;
  h1{
    font-family: 'FVAlmeloRegular', "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 27px;
    font-weight: bold;
  }
  p{
    margin: 0;
  }

}
.change-link{
  text-align: right;
  padding-right: 20px;
  margin: 0;
  a {
    font-size: 12px;
    color: #1DA2C1;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 20px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
    &:hover{
      color: rgb(57, 191, 215);
    }
  }}
#form_wrap{
  margin-top: 100px;
  margin-bottom: 20px;
}
.letter_pressed{
  text-shadow: 0 1px 0 rgba(255,255,255,0.6);
}
.letter_pressed_a{
  text-shadow: 0 1px 0 #fff;
}
.user_nav_info{
  height: 100%;
  .nav{

  }
}
.user_block{
  overflow: hidden;
  .image_wrap{
    padding: 3px;
    background-color: #fff;
    border:1px solid #ccc;
    float: left;
    img{
      width:50px;
      height: 50Px;
    }
  }
  .info{
    margin-top: 6px;
    margin-left: 60px;
  }
}

.nav-list,.dropdown-menu,.dropup-menu,.custom-select-menu {

  li{
    a{
      color: #333;
      border: 1px solid transparent;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      font-size: 12px;
      padding: 0;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      background:transparent;
      cursor: pointer;
      &:hover{
        color: #333;
        text-decoration: none;
        border-color:#ccc;
        background: #D6E7D0;
        .ui-btn-inner{
          border-color:rgba(255,255,255,0.3);
        }
      }
      .ui-btn-inner{
        display:block;
        padding: 5px 20px 5px 10px;
        border:1px solid transparent;

  }
      .b_icons{
        display: inline-block;
        height: 32px;
        width:32px;
        line-height: 32px;
        font-size: 32px;
      }
  }
> .active,.selected{
  a,a:hover{
    border-color:#000;
    background: #333;
    font-weight: bold;
    color: white ;
    text-shadow: 0 -1px 0 black;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif ;
    .ui-btn-inner{
      border-color:rgba(255,255,255,0.3);
    }
  }
}
  }}

.account-label{
  font-size: 20px;
  line-height: 20px;
}

textarea,input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {

  border: 1px solid #ccc;
  text-shadow: 0 1px 0 rgba(255,255,255,0.6);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 1px 0 rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 1px 0 rgba(255, 255, 255, 1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 1px 0 rgba(255, 255, 255, 1);
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder,.navbar-inverse .navbar-search .search-query::-webkit-input-placeholder {
  color: #a4a4a4;
  font-size: 11px;
  text-shadow:0 1px 0 white;
  font-family: OpenSansItalic,"Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
}

input:-moz-placeholder, textarea:-moz-placeholder ,.navbar-inverse .navbar-search .search-query:-moz-placeholder {
  color:  #a4a4a4;
  font-size: 11px;
  text-shadow:0 1px 0 white;
  font-family: OpenSansItalic,"Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
}


.help-inline,.hint{
  color: #adadad;
  font-size: 11px;
  text-shadow:0 1px 0 white;
  font-family: OpenSansItalic,"Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;

}
.customfile-input {
  position: absolute;
  height: 100% !important;
  width: 100% !important;
  padding: 0 !important;
  cursor:
    pointer; background:
  transparent; border: 0;
  opacity: 0;
  -moz-opacity: 0;
  z-index: 1060;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  &:focus{
  }
}

.customfile {
  text-shadow: 0 1px 0 rgba(255,255,255,0.6);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  background-color:#fff;
  padding: 4px 6px;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 1px 0 rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 1px 0 rgba(255, 255, 255, 1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 1px 0 rgba(255, 255, 255, 1);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
  margin-bottom: 9px;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
  position: relative;
}
.customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default;  }
.customfile-feedback {margin: 1px 1px 1px 5px; font-size: 11px; color: #999; font-style: italic; padding: .3em .6em;  font-family:OpenSansItalic,"Museo Sans X","Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;}
.customfile-feedback-populated { color: #999; font-style: normal; font-weight: bold; padding-left: 10px; background: url(../img/icon-generic.gif) left 4px no-repeat; }
.customfile-button {

}
.customfile-focus ,.customfile-hover
{
  border-color: rgba(82, 168, 236, 0.8);
  background-color: #fff;
  outline: 0;
  outline: thin dotted \9;
/* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  .customfile-button {

    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;

  }
}

.customfile-focus .customfile-button { outline: 1px dotted #AECFA3;  }

/*file type icons*/
.customfile-ext-jpg, .customfile-ext-gif, .customfile-ext-png, .customfile-ext-jpeg, .customfile-ext-bmp {
  &:before{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    content: "\f03e";
  }
}

.chzn-container-multi,.chzn-container-single.chzn-container{
  font-size: 12px;
  .chzn-single{
    background-color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, white), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
    background-image: -webkit-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: -moz-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: -o-linear-gradient(top, white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-image: linear-gradient(white 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    line-height: 20px;
    padding: 4px 8px 4px 6px;
    -webkit-box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 20px;
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    text-decoration: none;
    div{
      line-height: 20px;
      padding: 4px 0;
      b {
        background:none;
        display: none
      }
      &:before{
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
        content: "\f0d7";
        line-height: 20px;
      }
    }
  }
  .chzn-search{
    input{
      padding: 4px 6px;
      &:focus{
        background-:#fff;
        border-color: rgba(82, 168, 236, 0.8);
        outline: 0;
        outline: thin dotted \9;
      /* IE6-9 */
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
      }
    }
  }
  .chzn-choices {
    border: 1px solid #ccc;
    background:#F7F7F7;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    margin: 0;
    padding: 0;
    cursor: text;
    overflow: hidden;
    height: auto !important;
    height: 1%;
    position: relative;
    list-style: none;
    li.search-choice{
      line-height: 20px;
      border:1px solid #CCC;
      .search-choice-close {
        display: block;
        position:absolute;
        right:3px;
        top:50%;
        margin-top: -9px;
        width: 18px;
        height: 18px;
        font-size: 10px;
        overflow:hidden;
        vertical-align: middle;
        color: #999;
        text-shadow:  0 1px 0 rgba(255,255,255,.6);
        text-decoration: none;
        text-align: center;
        background: none;
        &:hover{
          color: #333;
        }
        &:before{
          font-family: FontAwesome;
          font-weight: normal;
          font-style: normal;
          text-decoration: inherit;
          content: "\f00d";
        }
      }
    }
    .search-field{
      .default{
        color: #999;
        font-size: 11px;
        text-shadow:rgba(255,254,255,0.5);
        font-family: OpenSansItalic,"Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
      }
      input{
        color: #666;
        background: transparent !important;
        border: 0 !important;
        font-family: sans-serif;
        font-size: 100%;
        height: auto;
        line-height: 20px;
        padding: 4px 6px;
        margin: 1px 0;
        outline: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
  }
  .chzn-drop{
    border-color:#ccc;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    .chzn-results{
      li{
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        border: 1px solid transparent;
        font-size: 12px;
        padding: 5px 20px 5px 10px;
        font-family: OpenSansRegular,"Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      li.active-result{
      }
      li.highlighted{
        color: #333;
        background: #eee;
        background-image: -webkit-gradient(linear,left top,left bottom,from(#EEE),to(#dedede));
        background-image: -webkit-linear-gradient(#f8f5e5, #e9e6d6);
        background-image: -moz-linear-gradient(#EEE,#dedede);
        background-image: -ms-linear-gradient(#EEE,#dedede);
        background-image: -o-linear-gradient(#EEE,#dedede);
        background-image: linear-gradient(#EEE,#dedede);
        border-color:#ccc;
      }
    }
  }
}

.chzn-container-active.chzn-container-single.chzn-container{
  .chzn-choices{
    background-:#fff;
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
  /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  }
  .chzn-single{
    div{
      &:before{
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
        content: "\f0d8";
        line-height: 20px;
      }
    }
  }
}
.control-group.input_padding_extra{
 .control-label{
    line-height: 30px;
  }
  .chzn-single,textarea,input,select{
    padding: 8px 10px;
  }
  .input-prepend .add-on, .input-prepend .btn {
    padding: 8px 10px;
  }
}
.payment_type_text{
  display: inline-block;
}
.card_icons{
  img{
    height:30px;
    width:30px;
  }
}
.load_money_steps{
  background-color:#EEEBD9;
  border-radius: 4px;
  ul{
    margin: 0 0 20px 10px;
    overflow: hidden;
    list-style: none;
    li{
      float:left;
      line-height: 40px;
      color:#ADAA97;
      text-shadow: 0 1px 0 rgba(255,255,255,0.5);
      .badge{
        background-color: #d4d1bc;
      }
    }
    .active{
      color:#202020;
      font-weight: bold;
      .badge{
      background-color:#202020;
    }
    }
  }
}

.divider-vertical{
  height: 40px;
  margin: 0 9px;
  border-left: 1px solid #c6c4b4;
  border-right: 1px solid #ffffff;
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: #fff;
}

.tab-hostx,.headx{
  border-bottom: none !important;
  background-color: #4E7095;
  background-image: -moz-linear-gradient(top, #54789C, #4E7095);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#54789C), to(#4E7095));
  background-image: -webkit-linear-gradient(top,#54789C,#4E7095);
  background-image: -o-linear-gradient(top,#54789C,#4E7095);
  background-image: linear-gradient(to bottom,#54789C,#4E7095);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54789C', endColorstr='#ff4E7095', GradientType=0);
  background-repeat: repeat-x;
  background-clip: padding-box;
  border: 1px solid #335A85;
  -moz-border-top-left-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -o-border-top-left-radius: 3px;
  -o-border-top-right-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -ms-border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.tab-host{
  border-bottom: none;
  .nav.nav-tabs{
    margin-bottom:0;
    border-bottom: none;
    li{
      margin-bottom: 0;
      margin-right: 2px;
      position: relative;
      a{
        color:#FFf;
        text-shadow: 0 -1px 0 #000;
        cursor: pointer;
        margin-right:0;
        border-radius: 0;
        border: none;
        background-color: transparent;
        font-family: 'FVAlmeloRegular', "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
       font-weight: bold;
       text-shadow: 0px -1px 1px rgba(0,0,0,0.4);
        &:hover{
          .tape{
            background-color: #FFBE17;
          }
        }
        .tape{
          position:absolute;
          bottom:0;
          left:0;
          width:100%;
          height:5px;
          background-color: transparent;
        }
      }


    }
    .active{
      a,a:hover,a:active{
        .tape{
          background-color: #93f461;
        }
      }

    }
  }
}
.admin {
  background: url("img/backgrounds/menu.jpg") left top repeat;
}
.menu {
  background: #54789c url("pattern.png") left top repeat;
}
.load-money-controls{
  .add-on{
    float: left;
  }
  .load_input{
    margin-left: 0;
    display: inline-block;
    input{
      height:38px;
    }
    .error{
      display: block;
    }
  }
}
 .btns{
   padding: 8px 10px;
 }
 .light_header{
  margin:10px;
 }

 .network_icon,.network_icon_16,.w_icon{
   width:16px;
   height:16px;
   display: inline-block;
   top: 3px;
   position: relative;
   background-size: contain;
   left: 2px;
   margin-right: 4px;
 }

 .mtn_icon{
   background:url("mtn16.png") 50% 50% no-repeat;
 }
.glo_icon{
  background:url("Glo16.png") 50% 50% no-repeat;
}
.etisalat_icon{
  background:url("etisalat16.png") 50% 50% no-repeat;
}
.airtel_icon{
  background:url("airtel16.png") 50% 50% no-repeat;
}
.wallet_24{
  background:url("wallet_24.png") 50% 50% no-repeat;
}
.wallet_16{
  background:url("wallet_16.png") 50% 50% no-repeat;
}
.wallet_14{
  background:url("wallet_14.png") 50% 50% no-repeat;
}
.footer.tar{
  border-top: 1px solid #fff;
  margin-top:0;
  padding: 19px 16px;
}
.rows.rounded_bottom{
    li:last-child{
      -webkit-border-radius: 0 0 3px 3px;
      -moz-border-radius: 0 0 3px 3px;
      border-radius: 0 0 3px 3px;
    }
}
.payment_selection{
  text-shadow: 0 1px 0 #fff;
  .interswitch{
    margin:8px 0 0 0;
  }
  button,.cancel{
    line-height: 30px;
    [class*=" icon-"] {
     font-size: 16px;
    }
  }
  .pay-form-wrap{
    form{
      margin:0;
      display:inline-block;
    }
  }
}
.content{
  position: relative;
}
.notice{
  width:100%;
  position:absolute;
  left:0;
  z-index: 990;
  .alert{
    margin:2px;
  }
}
.shadowed{
  -webkit-box-shadow:0 0 4px  rgba(0,0,0,0.25);
  -moz-box-shadow:0 0 4px  rgba(0,0,0,0.25);
  box-shadow: 0 0 4px  rgba(0,0,0,0.25);
}
.error_list{
  list-style: none;
  margin:0;
  li{
    background-color: transparent;
  }
}
.block-fluid{
  .light_header{
    margin:0;
    padding: 4px 6px;
    border-bottom: 1px solid #dedede;
    font-size: 14px;
  }
}
.transactions{
  border:1px solid #ccc;
  background-color: #fcfcfc;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  .light_header{
    margin:0;
    padding: 4px 6px;
    border-bottom: 1px solid #dedede;
    font-size: 14px;
  }
  .transaction_table{
    th{
      font-size: 12px;
    }
    tr:nth-child(2n+1) td {

    }
    .btn{
      color:#333333;
    }
    .btn.btn-success,.btn.btn-warning,.btn.btn-info{
      color:#fff;
    }

  }

}
.show{
}

.page{
  border-top:1px solid #dedede;
  overflow: hidden;
  margin:0px;
  padding:  5px;
  list-style: none;
  text-align: center;
  .previous{
    float: left;
  }
  .next{
    float:right
  }
  .info{
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    color:#333;
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    line-height: 20px;
    padding:4px 6px;
  }
}
.messages {
  margin: 0;
  list-style: none;
.items{
  .item{
    &:last-child{
      border-bottom: 0px;
    }
    &:first-child{
      border-bottom: 0px;
    }
  }
}
}

.tool_bar{
  overflow: hidden;
  background-color: #f1f1f1;
  border-bottom: 1px solid #dedede;
  .page{
    border-top:none;
  }
  form{
    margin: 0;
    padding: 5px;
  }
  .light_header{
    border: none;
    padding: 5px;
    margin: 0;
    line-height: 30px;
  }
}
.scroll{
  overflow: auto;
}
.block-fluid{
  ul.rows{
    li{
      border-top: 1px solid #D9D9D9;
      border-bottom:none;
      padding: 0;
      .inner{
        border-top: 1px solid #fff;
        padding: 8px 0px;
        .title{
          color: #7A7A7A;
        }
      }
      &:first-child {
        border-top: 0px;
      }
      &:last-child {
        border-bottom: 1px solid #D9D9D9;
        -webkit-border-radius: 0 0 3px 3px;
        -moz-border-radius: 0 0 3px 3px;
        border-radius: 0 0 3px 3px;
      }
    }
  }
}
li [class^="icon-"], .nav li [class^="icon-"], li [class*=" icon-"], .nav li [class*=" icon-"] {
  font-size: 16px;
}
.item_el.label{
  font-family: 'FVAlmeloRegular', "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
  .key{
    margin-right: 10px;
  }
}


