/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

*= require bootstrap_and_overrides.css
*= require app
*= require fonts
*= require stylesheet.css
*= require_self
*/

.metro {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background: #08C;
/* Font styles */
  color: white;
  font-weight: bold;
  text-decoration: none;
  border:none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.metro:hover {
  background: #0AF
}

.pay_notice{
  display: block;
  white-space: normal;
  padding: 20px;
  margin-bottom: 20px;
  font-family: OpenSansRegular,"Helvetica Neue", Helvetica, Arial, sans-serif;
  [class*="icon"]{
    font-size: 14px;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
  }

.metro{
  margin: 10px  0;
  }
}
.cancel-block{
  margin-bottom: 20px;
}
.highlight{
  overflow: hidden;
  .carousel-inner{
    float: left;
    width:267px;
    margin: 0 10px;
    .item {
    display: block;
    position: relative;
    margin-bottom: 20px;
      .carousel-caption {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
      }
  }
  }
}
.success_message{
  padding: 20px 0;
  text-shadow: 0 1px 0 rgba(255,255,255,0.6);
}

.block{
  .head{

  }

  ul{
    margin: 0;
    list-style: none;
  }

}
.header{
  position: relative;
  z-index: 10;
}
.container{
  .top{
    position: relative;
    .notice{
      .alert{
        margin: 0;
      }
    }
    form{
      margin:0;
      .btn{
        margin:0;
      }
    }
  }

  .brand{
    margin:20px  0;
    overflow: hidden;
    .icon_wrap{
      float: left;
      img{
        width:50px;
        height:50px;
      }
    }
  }
  .content{
    margin: 50px auto;
    background-color: #fcfcfc;
    padding: 20px;
    min-height: 400px;
    -moz-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    &:before{
      content: '';
      position: absolute;
      top: -8px;
      right: -8px;
      bottom: -8px;
      left: -8px;
      z-index: -1;
      background: rgba(0, 0, 0, 0.08);
      border-radius: 4px;
    }
  }
}
.success{
  color: #80ac10
}
.warning{
  color: #80ac10
}