<% content_for :navigation do %>
    <%= currently_at 'News Letters' %>
    </div>
<% end %>
<div class="row-fluid">

  <div>
    <div class="head clearfix">
      <h1><i class="network_icon icon-info"></i> Create Letter </h1>
    </div>

      <%= render 'form' %>

  </div>

</div>
