<div class="span4">
  <div class="head clearfix">
    <div class="isw-archive"></div>
    <h1>Recharge Cards</h1>
  </div>
  <div class="block-fluid accordion">

    <h3>MTN</h3>
    <div>
      <table cellpadding="0" cellspacing="0" width="100%" class="table">
        <thead>
        <tr>
          <th width="25%">Amount</th>
          <th width="25%">Purchase</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>MTN 100</td>
          <td><a href="#" class="btn btn-info btn-mini">Purchase Credit</a> </td>
        </tr>
        <tr>
          <td>MTN 200</td>
          <td><a href="#" class="btn btn-info btn-mini">Purchase Credit</a></td>
        </tr>
        <tr>
          <td>MTN 400</td>
          <td><a href="#" class="btn btn-info btn-mini">Purchase Credit</a></td>
        </tr>
        <tr>
          <td>MTN 750</td>
          <td><a href="#" class="btn btn-info btn-mini">Purchase Credit</a></td>
        </tr>
        <tr>
          <td>MTN 1500</td>
          <td><a href="#" class="btn btn-info btn-mini">Purchase Credit</a></td>
        </tr>
        <tr>
          <td>MTN 3000</td>
          <td><a href="#" class="btn btn-info btn-mini">Purchase Credit</a></td>
        </tr>
        </tbody>
      </table>
    </div>

    <h3>GLO</h3>
    <div>
      <table cellpadding="0" cellspacing="0" width="100%" class="sOrders">
        <thead>
        <tr>
          <th width="60">Date</th><th>User</th><th width="60">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><span class="date">Oct 6</span><span class="time">12:35</span></td>
          <td><a href="#">Aqvatarius</a></td>
          <td><span class="price">$1366.12</span></td>
        </tr>
        <tr>
          <td><span class="date">Oct 8</span><span class="time">18:42</span></td>
          <td><a href="#">Olga</a></td>
          <td><span class="price">$146.00</span></td>
        </tr>
        <tr>
          <td><span class="date">Oct 15</span><span class="time">8:21</span></td>
          <td><a href="#">Alex</a></td>
          <td><span class="price">$879.24</span></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="3" align="right"><button class="btn btn-small">More...</button></td>
        </tr>
        </tfoot>
      </table>
    </div>

    <h3>AIRTEL</h3>
    <div>
      <table cellpadding="0" cellspacing="0" width="100%" class="sOrders">
        <thead>
        <tr>
          <th width="60">Date</th><th>User</th><th width="60">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><span class="date">Sep 6</span><span class="time">12:35</span></td>
          <td><a href="#">Aqvatarius</a></td>
          <td><span class="price">$1366.12</span></td>
        </tr>
        <tr>
          <td><span class="date">Sep 8</span><span class="time">18:42</span></td>
          <td><a href="#">Olga</a></td>
          <td><span class="price">$146.00</span></td>
        </tr>
        <tr>
          <td><span class="date">Sep 15</span><span class="time">8:21</span></td>
          <td><a href="#">Alex</a></td>
          <td><span class="price">$879.24</span></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="3" align="right"><button class="btn btn-small">More...</button></td>
        </tr>
        </tfoot>
      </table>
    </div>

  </div>
</div>