<div class="header">
  <a class="logo" href="<%= url_for root_url %>"><img src="/assets/poplodoi.png" alt="Poploader -  Recharge cards at your finger tips" title="Poploader -  Recharge cards at your finger tips"/></a>
</div>