<button id="pay_button"  data-confirm-url="<%= confirm_url %>" class="<%= btn_class %>" type="button" data-loading-text="loading...">
        <span class="interswitch_logo">
          <%= image_tag("/assets/PoweredByInterswitchLogoAndVerve.png") %>
        </span>
</button>