
<div class="span4">
  <div class="head clearfix">
    <h1><i  class="icon-warnining-sign"></i> Messages</h1>
  </div>
  <div class="block messages scrollBox">
    <div class="scroll" style="height: 270px;">
    <% if @messages.empty? %>
       <small>No Messages available at the moment</small>
    <% else %>

    <% @messages.each do |message| %>
          <%= message_for_order(message) %>
    <% end %>
    <% end %>
   </div>
  </div>
</div>