<tr>
  <td><%= unit.humanize %></td>
  <td><%= Airtime.available_credits_count(unit).open_credits.size %></td>
  <td><%= Airtime.available_credits_count(unit).sold.size %></td>
  <td><%= Airtime.available_credits_count(unit).pending.size %></td>
</tr>