<%= simple_form_for(@order, :url => pay_user_wallet_path(current_user),:html=>{:method=>"POST"}) do |f| %>
    <input name="transaction_id" type="hidden" value="<%= wallet[:transaction_id] %>" />
    <input name="hash" type="hidden" value="<%= wallet[:hash] %>" />
    <button type="submit" class=" btn-large btn btn-primary">
               <i class="icon-wallet"></i>
      My Wallet
    </button>
<% end %>
