<div class="">
  <div class="row-fluid">
    <div class="top">
    <p class="pay_notice label-warning label"><i class="icon-warning-sign"></i> You are about to be redirected to
      <span class=""><strong>Interswitch  <i class="icon-lock"></i>  secure payment gateway</span>  </strong>.
      However, if you are not redirected automatically, pls click the button below

      <button type="submit" class="btn metro" type="button">
        <span class="interswitch_logo">
          <%= image_tag("/assets/PoweredByInterswitchLogoAndVerve.png") %>
        </span>
      </button>
    </p>
    </div>
  </div>
</div>