<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <title>Poploda -  Recharge cards at your finger tips</title>

  <%= stylesheet_link_tag "mobile" %>

  <%= csrf_meta_tags %>
</head>
<body>
    <%= yield %>
</body>
</html>