<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="shortcut icon" href="ico/favicon.png">
  <link rel="apple-touch-icon" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon" sizes="36x36" href="ico/apple-touch-icon-36-precomposed.png">
  <title>Poploda -  Recharge cards at your finger tips</title>

  <%= stylesheet_link_tag "mobile" %>

  <%= csrf_meta_tags %>
</head>
<body>
    <%= yield %>
</body>
</html>